<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/style.css}">
    <title>Document</title>
</head>

<body>
<header>
    <div class="headerContainer">
        <div class="titleContainer">Personal Finance</div>
        <div class="linksContainer">
            <a href="#">Войти</a>
            <span>|</span>
            <a th:href="@{/registration}">Регистрация</a>
            <span>|</span>
            <a href="#">О нас</a>
        </div>
    </div>
</header>
<div class="content">
    <div class="contentContainer">
        <div class="descriptionContainer">
            <div class="descriptionTitle">
                Personal Finance - лучшее приложение для
                ведения домашней бухгалтерии!
            </div>
            <div class="description">
                <p>
                    Используйте Personal Finance -
                    удобное приложение для ведения как личной,
                    так и семейной бухгалтерии! Удобный и интуитивный интерфейс позволяет легко вести учёт расходов
                    и доходов. Благодаря широким возможностям анализа Ваших личных финансов, Вы всегда будете знать
                    куда именно уходят Ваши деньги и понять, как и на чём можно сэкономить. </br> Пройдите
                    бесплатную <a th:href="@{/registration}">Регистрацию</a> и начните экономить уже сейчас!
                </p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footerContainer">
        <div class="copBox">
            &copy; 2019
        </div>
    </div>
</footer>
</body>

</html>