<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>login</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="loginContainer">
    <h1>Добро пожаловать в Personal Finance</h1>
    <div id="wrapper">
        <form id="signin" method="" action="" autocomplete="off">
            <input type="text" id="user" name="user" placeholder="username" />
            <input type="password" id="pass" name="pass" placeholder="password" />
            <button type="submit">&#xf0da;</button>
            <p>
                Забыли пароль?
                <a href="#">Нажмите здесь</a>
                </br>
                <a href="#">Назад</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>