<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>login</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <h4 class="text-center">Добро пожаловать в Personal Finance</h4>
            <form class="form">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Введите Login" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Введите E-mail" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Повторите пароль" />
                    </div>
                </div>
                <div class="text-center col-xs-12">
                    <input type="button" class="btn btn-default" value="Регистрация" />
                </div>
            </form>

        </div>
    </div>
</div>
</body>

</html>