@font-face {
    font-family: "Brandon Grotesque Black";
    src: url(../fonts/BrandonGrotesque-Black.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico.ttf);
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url(../fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: "Comfortaa-Regular";
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: "Vollkorn-BoldItalic";
    src: url(../fonts/Vollkorn-BoldItalic.ttf);
}

@font-face {
    font-family: "Vollkorn-ExtraBold";
    src: url(../fonts/Vollkorn-ExtraBold.ttf);
}

@font-face {
    font-family: "Vollkorn-Medium";
    src: url(../fonts/Vollkorn-Medium.ttf);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 150px;
    width: 100%;
    flex-shrink: 0;
    background-color: rgb(39, 35, 35);
}

.headerContainer {
    margin: 0 auto;
    width: 1170px;
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Comfortaa-Bold", sans-serif;
    color: rgb(202, 202, 202);
    font-size: 24px;
}

.title {
    font-family: "Pacifico", sans-serif;
    font-size: 50px;
    width: 390px;
}

.linksContainer a {
    color: rgb(202, 202, 202);
    text-decoration: none;
}

.linksContainer a:hover {
    text-decoration: underline;
}

.content {
    width: 100%;
    background-color: #e0e0e0;
    flex-grow: 1;
}

.contentContainer {
    margin: 0 auto;
    width: 1170px;
}

.descriptionContainer {
    margin: 50px 40px;
}

.descriptionTitle {
    text-align: center;
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.description {
    text-align: center;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.footer {
    width: 100%;
    background-color: rgb(39, 35, 35);
    min-height: 80px;
    flex-shrink: 0;
}

.footerContainer {
    margin: 0 auto;
    width: 1170px;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.copBox {
    font-family: "Vollkorn-ExtraBold", sans-serif;
    font-size: 20px;
    color: rgb(202, 202, 202);
}

.rootView {
    height: 100%;
    width: 100%;
}

.menuView {
    max-width: 15%;
    background-color: hsl(214, 35%, 21%);
}

.personalInformationBox img {
    margin: 10px auto;
    width: 80px;
    height: 80px;
}

.personalInformationBox span {
    margin: 0 auto;
    color: hsla(214, 96%, 96%, 0.9);
    font-size: 18px;
}

.menuLinksBox a {
    margin: 10px auto;
    color: hsl(214, 100%, 70%);
    text-decoration: none;
    font-size: 24px;
    text-align: center;
}

.contentView {
    display: block;
    overflow: auto;
    height: 100%;
    max-width: 85%;
    background-color: hsla(214, 96%, 96%, 0.9);
}

.contentView label {
    font-size: 24px;
}

.accountsChartBox {
    width: 50%;
}

.accountBox {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    border: 1px black double;
    background-color: white;
}

.accountBox img {
    margin: 0 20px;
}

.accountBox a {
    text-decoration: none;
    margin: 0 30px 0 30px;
}

.accountBox label {
    margin: 0 3px;
}

.amountBox {
    position: absolute;
    right: 5px;

}

